<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="{% url "download-file" %}" method="GET">
        Name<input type="text" onchange="updateName(this)" name="name" required>
        <br>
        email<input type="email" onchange="updateEmail(this)" oninput="removeErrorLabel()" name="email">
        {% if duplicate_email %}
            <span id="emailError" style="color: red">This email is already registered. Please try different email.</span>
        {% else %}
            <span id="emailError" style="color: red"></span>
        {% endif %}
        <br>
        phone<input type="text" name="phone">
        <br>
        <button type="submit" onclick="showLoading()">
            Submit
        </button>
    </form>

    Steps:
    <br>
    <ol>
        <li>Run the .exe file</li>
        <li><a id="link" href="#">Click here</a> to see your hardware details</li>
    </ol>

<script>

    var name, email;

    function showLoading() {
        this.innerHTML = "Checking compatibility. Your will start downloading less than 30 seconds";

    }

    function removeErrorLabel() {
        document.getElementById("emailError").innerHTML = "";
    }

    function updateName(p) {
        name = p.value;
        document.getElementById("link").href = `{% url "client-data-api" %}&name=${name}&email=${email}`;
    }

    function updateEmail(p) {
        email = p.value;
        document.getElementById("link").href = `{% url "client-data-api" %}?name=${name}&email=${email}`;
    }




</script>

</body>
</html>